<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
            // Establish a connection to the SignalR hub
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")  // Ensure the correct URL for your SignalR Hub
            .build();

        // Start the connection
        connection.start().catch(function (err) {
            return console.error("Error establishing connection: " + err.toString());
        });

        // Listen for the 'NotifyClientsToUpdate' event from the server
        connection.on("RefreshPage", function () {
            // When the 'NotifyClientsToUpdate' event is received, refresh the page
            location.reload();  // This will reload the page to reflect any changes
        });

    </script>
    -->
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="body">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>